nav{
	text-align: center;
	background: pink;
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
}
/*position : fixed keeps nav bar from moving when you scroll up or down
width: 100%; fills up page
the top and left: the pink background starts 0 pixels from left and top, so its right at the edge of the webpage
try   top: 50px;
	left: 0; */
	nav ul{
		
		padding: 0;
	}
	/* above centers list in navbar*/

	nav li {
		display: inline-block;
		padding: 0 20px;
	}
	/*inline block means does not start on new line*/
	section{
		/*height: 500px
		padding-top: 56px 20px;*/
		border: 20px blue solid;
	margin: 200px 100px;
	padding: 10px 20px
	}
	.menu-icon{
		
		position: fixed;
		top: 0;
		right: 0;
		font-size: 32px;
		border-width: 0;
           background: transparent;
           display: block;
          

	}
	/*now adding media query for mobile screen
	 768px and less will have a screen for mobile device thats why 768px
	 is the max value*/
	@media (max-width: 768px){
		nav  li{
    display: block;
    padding-top: 144px;
     background: transparent;
          
  }
  /*the block means it stacks on top of each other for device mobile  and the
  menue icon will show up on mobile device*/
		
	}
		
